$color-primary:#9356DC;

$color-secondary: #FF79DA;

$color-tertiary: #99E2D0;

$color-background:rgb(244, 242, 242);

$color-button: linear-gradient(-10deg, $color-primary 5%, $color-secondary 100%);

$color-button-light: linear-gradient(#ff93e1, #a16be0);