@media (min-width: 765px) {
  header {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(244, 242, 242);
    height: 60px;
  }
  header img {
    margin: 0px 0px 5px 20px;
    justify-content: center;
    align-items: center;
  }

  .location {
    background-color: rgb(244, 242, 242);
  }

  .firstpart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .firstpart .explore {
    height: 300px;
    background-color: white;
    width: 50%;
  }
  .firstpart .explore p {
    width: 60%;
  }
  .firstpart .firstpart-in {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
  }
  .firstpart .firstpart-in h2 {
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    padding: 0px;
    height: 30px;
    width: 100%;
    font-size: 20px;
  }

  .button {
    flex-direction: row;
    justify-content: center;
  }
  .button--icon2 {
    width: 10%;
  }
  .button--text {
    width: 75%;
  }

  .restaurant {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .restaurant h2 {
    padding: 32px 0px 20px 0px;
  }
  .restaurant .restau-1 {
    flex-direction: column;
    width: 45%;
    margin-right: 15px;
  }
  .restaurant .restau-1 a {
    margin: 0px;
  }
  .restaurant .restau-2 {
    flex-direction: column;
    width: 45%;
    margin-top: 80px;
  }
  .restaurant .restau-2 a {
    margin: 0px;
  }
  .restaurant .container {
    width: 100%;
    padding: 0px;
    margin: 0px 0px 15px 0px;
  }
}
@media (min-width: 765px) {
  footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: roboto;
    height: 180px;
    color: white;
    background-color: rgb(36, 34, 34);
  }
  footer .foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  footer .foot .footer-first {
    height: 33%;
    width: 33%;
    flex-direction: column;
    justify-content: center;
  }
  footer .foot .footer-first img {
    padding: 10px 0px 0px 80px;
  }
  footer .foot .footer-second {
    height: 33%;
    width: 33%;
    flex-direction: column;
  }
  footer .foot .footer-third {
    height: 33%;
    width: 33%;
    flex-direction: column;
  }
  footer .foot a {
    text-decoration: none;
    color: white;
  }
}
@media (min-width: 765px) {
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .menu .menu-first,
.menu .menu-first-last {
    width: 100%;
  }
  .menu .menu-second {
    width: 100%;
  }
  .menu .menu-third {
    width: 100%;
  }
  .menu button {
    width: 100%;
  }
  .menu article {
    display: flex;
    align-items: center;
    width: 50%;
  }
  .menu h2 {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-right: auto;
  }
}
@media (min-width: 765px) {
  header {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(244, 242, 242);
    height: 60px;
  }
  header img {
    margin: 0px 0px 5px 20px;
    justify-content: center;
    align-items: center;
  }

  .location {
    background-color: rgb(244, 242, 242);
  }

  .firstpart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .firstpart .explore {
    height: 300px;
    background-color: white;
    width: 50%;
  }
  .firstpart .explore p {
    width: 60%;
  }
  .firstpart .firstpart-in {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
  }
  .firstpart .firstpart-in h2 {
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    padding: 0px;
    height: 30px;
    width: 100%;
    font-size: 20px;
  }

  .button {
    flex-direction: row;
    justify-content: center;
  }
  .button--icon2 {
    width: 10%;
  }
  .button--text {
    width: 75%;
  }

  .restaurant {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .restaurant h2 {
    padding: 32px 0px 20px 0px;
  }
  .restaurant .restau-1 {
    flex-direction: column;
    width: 45%;
    margin-right: 15px;
  }
  .restaurant .restau-1 a {
    margin: 0px;
  }
  .restaurant .restau-2 {
    flex-direction: column;
    width: 45%;
    margin-top: 80px;
  }
  .restaurant .restau-2 a {
    margin: 0px;
  }
  .restaurant .container {
    width: 100%;
    padding: 0px;
    margin: 0px 0px 15px 0px;
  }
}
@media (min-width: 765px) {
  footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: roboto;
    height: 180px;
    color: white;
    background-color: rgb(36, 34, 34);
  }
  footer .foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  footer .foot .footer-first {
    height: 33%;
    width: 33%;
    flex-direction: column;
    justify-content: center;
  }
  footer .foot .footer-first img {
    padding: 10px 0px 0px 80px;
  }
  footer .foot .footer-second {
    height: 33%;
    width: 33%;
    flex-direction: column;
  }
  footer .foot .footer-third {
    height: 33%;
    width: 33%;
    flex-direction: column;
  }
  footer .foot a {
    text-decoration: none;
    color: white;
  }
}
@media (min-width: 765px) {
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .menu .menu-first,
.menu .menu-first-last {
    width: 100%;
  }
  .menu .menu-second {
    width: 100%;
  }
  .menu .menu-third {
    width: 100%;
  }
  .menu button {
    width: 100%;
  }
  .menu article {
    display: flex;
    align-items: center;
    width: 50%;
  }
  .menu h2 {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-right: auto;
  }
}
@media (min-width: 990px) {
  .firstpart {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .firstpart .explore {
    width: 100%;
  }
  .firstpart .firstpart-in {
    width: 100%;
    display: inline;
    margin: 0px;
    padding: 0px;
  }
  .firstpart .firstpart-in h2 {
    width: 100%;
  }
  .firstpart .firstpart-in .row {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .firstpart .firstpart-in .row .button {
    width: 33%;
    margin: 10px;
  }
  .firstpart .firstpart-in .row .button--icon2 {
    width: 10%;
    margin-left: 40px;
  }
  .firstpart .firstpart-in .row .button--text {
    width: 90%;
    margin-right: 15px;
  }
}
@media (min-width: 1185px) {
  .menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 415px;
    padding: 0px;
    margin-left: 10px;
  }
  .menu article {
    width: 30%;
    padding: 0px 25px;
  }
  .menu .menu-first,
.menu .menu-first-last {
    width: 100%;
    padding-right: 25px;
  }
  .menu .menu-first-last1 {
    margin-top: 75px;
  }
  .menu .menu-second {
    width: 100%;
    padding-right: 25px;
  }
  .menu .menu-third {
    width: 100%;
    padding-right: 25px;
  }
}
@-webkit-keyframes drop {
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
    top: 3.78em;
    transform: rotateX(-360deg);
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 0;
    top: 3.78em;
    transform: rotateX(-360deg);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    top: 6.94em;
  }
}
@keyframes drop {
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
    top: 3.78em;
    transform: rotateX(-360deg);
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 0;
    top: 3.78em;
    transform: rotateX(-360deg);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    top: 6.94em;
  }
}
@-webkit-keyframes load {
  from {
    opacity: 1;
    z-index: 6;
  }
  to {
    opacity: 0;
    z-index: 0;
  }
}
@keyframes load {
  from {
    opacity: 1;
    z-index: 6;
  }
  to {
    opacity: 0;
    z-index: 0;
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-webkit-keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.let1 {
  -webkit-animation: drop 3s ease-in-out;
          animation: drop 3s ease-in-out;
  color: #9356DC;
}

.let2 {
  -webkit-animation: drop 3s ease-in-out;
          animation: drop 3s ease-in-out;
  color: #FF79DA;
}

.let3 {
  -webkit-animation: drop 3s ease-in-out;
          animation: drop 3s ease-in-out;
  color: #99E2D0;
}

.let4 {
  -webkit-animation: drop 3s ease-in-out;
          animation: drop 3s ease-in-out;
  color: #9356DC;
}

.let5 {
  -webkit-animation: drop 3s ease-in-out;
          animation: drop 3s ease-in-out;
  color: #FF79DA;
}

.let6 {
  -webkit-animation: drop 3s ease-in-out;
          animation: drop 3s ease-in-out;
  color: #99E2D0;
}

.let7 {
  -webkit-animation: drop 3s ease-in-out;
          animation: drop 3s ease-in-out;
  color: #9356DC;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: roboto;
}

.load {
  background-color: whitesmoke;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: roboto;
  font-weight: 100;
  font-size: 5em;
  color: #99E2D0;
  opacity: 0;
  -webkit-animation: load 1.5s linear;
          animation: load 1.5s linear;
}

header {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 20px 0px 10px 0px;
}

.location {
  display: flex;
  justify-content: center;
  padding: 15px 40px 15px 0px;
  background: rgba(221, 218, 218, 0.494);
  font-family: roboto;
  color: rgb(62, 61, 61);
}
.location i {
  padding: 0px 15px;
  color: rgb(62, 61, 61);
}

.firstpart {
  display: flex;
  flex-direction: column;
}

.explore {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 40px 20px;
  font-family: roboto;
  background-color: rgb(244, 242, 242);
}
.explore h2 {
  padding-bottom: 15px;
  font-size: 23px;
  width: 250px;
  font-weight: 900;
}
.explore p {
  padding-bottom: 30px;
  font-weight: 200;
}
.explore input {
  padding: 15px 0px;
  border-radius: 100px;
  background: linear-gradient(-10deg, #9356DC 5%, #FF79DA 100%);
  color: white;
  border: inherit;
  width: 200px;
  box-shadow: 2px 1px 8px -3px #000000;
}
.explore input:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0px 3px 7px 2px rgba(0, 0, 0, 0.2);
}
.explore + h2 {
  padding: 40px 0px 15px 20px;
  width: 50%;
  font-family: roboto;
}

.firstpart-in h2 {
  padding: 40px 0px 15px 20px;
  width: 50%;
  font-family: roboto;
  font-weight: 900;
}

.button {
  width: 95%;
  padding: 27px;
  border-radius: 20px;
  border: transparent;
  margin: 20px 0px 20px 3%;
  box-shadow: 2px 1px 8px -3px #000000;
  display: flex;
  position: relative;
  font-weight: 600;
  cursor: pointer;
}
.button:hover {
  background-color: rgba(146, 86, 220, 0.0823529412);
}
.button:hover .fa-solid {
  color: #9356DC;
}
.button--text {
  width: 70%;
  text-align: center;
}
.button--icon2 {
  width: 25%;
  justify-content: flex-start;
}
.button span:first-child {
  position: absolute;
  top: 28px;
  left: -3px;
  z-index: 1;
  color: white;
}
.button .fa-solid {
  color: grey;
}
.button .fa-solid.fa-circle {
  position: absolute;
  left: -8.5px;
  font-size: 20px;
  color: #9356DC;
}
.button .fa-solid.fa-mobile-screen-button {
  justify-content: flex-start;
  font-size: 20px;
}
.button .fa-solid.fa-ellipsis-vertical {
  width: 5px;
  font-size: 20px;
}
.button .fa-solid.fa-bars {
  left: 40px;
  font-size: 20px;
}
.button .fa-solid.fa-store {
  font-size: 20px;
}

.restaurant {
  background-color: rgb(244, 242, 242);
  font-family: roboto;
  padding-bottom: 40px;
}
.restaurant h2 {
  padding: 50px 0px 0px 20px;
  font-weight: 900;
}
.restaurant a {
  text-decoration: none;
}
.restaurant .container {
  width: 95%;
  margin: 20px 0px 20px 2.5%;
  height: 250px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  box-shadow: 2px 1px 8px -3px #000000;
}
.restaurant span {
  position: absolute;
  border: 1px solid #99E2D0;
  background-color: #99E2D0;
  border-radius: 3px;
  padding: 5px;
  margin-top: 12px;
  right: 12px;
  font-size: 15px;
  color: rgb(84, 84, 84);
  text-decoration: none;
}
.restaurant img {
  width: 100%;
  height: 170px;
  border-radius: 10px 10px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.restaurant h3 {
  padding: 10px 0px 0px 10px;
  width: 70%;
  color: black;
}
.restaurant p {
  padding: 5px 5px 0px 10px;
  font-weight: 300;
  width: 50%;
  color: black;
}
.restaurant .heart {
  cursor: pointer;
  color: black;
}
.restaurant .heart .fa-solid.fa-heart,
.restaurant .heart .fa-heart {
  position: absolute;
  right: 30px;
  font-size: 25px;
  bottom: 27px;
}

.fa-heart:hover {
  cursor: pointer;
  -webkit-animation: heart-in 0.9s;
          animation: heart-in 0.9s;
  font-weight: 800;
  background: -webkit-gradient(linear, right bottom, right top, from(#FF79DA), to(#9356dc));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes heart-in {
  0% {
    transform: scale(1, 1);
    font-weight: 200;
    -webkit-text-fill-color: black;
  }
  30% {
    transform: scale(1.25, 0.75);
    font-weight: 200;
    -webkit-text-fill-color: black;
  }
  40% {
    transform: scale(0.75, 1.25);
    font-weight: 800;
    -webkit-text-fill-color: transparent;
  }
  50% {
    transform: scale(1.15, 0.85);
    font-weight: 800;
    -webkit-text-fill-color: transparent;
  }
  65% {
    transform: scale(0.95, 1.05);
    font-weight: 800;
    -webkit-text-fill-color: transparent;
  }
  75% {
    transform: scale(1.05, 0.95);
    font-weight: 800;
    -webkit-text-fill-color: transparent;
  }
  100% {
    transform: scale(1, 1);
    font-weight: 800;
    -webkit-text-fill-color: transparent;
  }
}

@keyframes heart-in {
  0% {
    transform: scale(1, 1);
    font-weight: 200;
    -webkit-text-fill-color: black;
  }
  30% {
    transform: scale(1.25, 0.75);
    font-weight: 200;
    -webkit-text-fill-color: black;
  }
  40% {
    transform: scale(0.75, 1.25);
    font-weight: 800;
    -webkit-text-fill-color: transparent;
  }
  50% {
    transform: scale(1.15, 0.85);
    font-weight: 800;
    -webkit-text-fill-color: transparent;
  }
  65% {
    transform: scale(0.95, 1.05);
    font-weight: 800;
    -webkit-text-fill-color: transparent;
  }
  75% {
    transform: scale(1.05, 0.95);
    font-weight: 800;
    -webkit-text-fill-color: transparent;
  }
  100% {
    transform: scale(1, 1);
    font-weight: 800;
    -webkit-text-fill-color: transparent;
  }
}
restau-1 {
  display: flex;
  flex-direction: column;
}

restau-2 {
  display: flex;
  flex-direction: column;
}

footer {
  font-family: roboto;
  height: 200px;
  color: white;
  background-color: rgb(36, 34, 34);
}
footer a {
  text-decoration: none;
  padding: 10px;
}
footer img {
  filter: invert(100%);
  padding: 30px 0px 20px 20px;
}
footer li {
  padding: 5px 0px 0px 20px;
  cursor: pointer;
}
footer .fa-solid {
  margin-right: 15px;
}
footer .footer-second > *, footer .footer-third > * {
  padding: 6px;
}
footer .footer-second a, footer .footer-third a {
  text-decoration: none;
  color: white;
}

@media (min-width: 765px) {
  header {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(244, 242, 242);
    height: 60px;
  }
  header img {
    margin: 0px 0px 5px 20px;
    justify-content: center;
    align-items: center;
  }

  .location {
    background-color: rgb(244, 242, 242);
  }

  .firstpart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .firstpart .explore {
    height: 300px;
    background-color: white;
    width: 50%;
  }
  .firstpart .explore p {
    width: 60%;
  }
  .firstpart .firstpart-in {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
  }
  .firstpart .firstpart-in h2 {
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    padding: 0px;
    height: 30px;
    width: 100%;
    font-size: 20px;
  }

  .button {
    flex-direction: row;
    justify-content: center;
  }
  .button--icon2 {
    width: 10%;
  }
  .button--text {
    width: 75%;
  }

  .restaurant {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .restaurant h2 {
    padding: 32px 0px 20px 0px;
  }
  .restaurant .restau-1 {
    flex-direction: column;
    width: 45%;
    margin-right: 15px;
  }
  .restaurant .restau-1 a {
    margin: 0px;
  }
  .restaurant .restau-2 {
    flex-direction: column;
    width: 45%;
    margin-top: 80px;
  }
  .restaurant .restau-2 a {
    margin: 0px;
  }
  .restaurant .container {
    width: 100%;
    padding: 0px;
    margin: 0px 0px 15px 0px;
  }
}
@media (min-width: 765px) {
  footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: roboto;
    height: 180px;
    color: white;
    background-color: rgb(36, 34, 34);
  }
  footer .foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  footer .foot .footer-first {
    height: 33%;
    width: 33%;
    flex-direction: column;
    justify-content: center;
  }
  footer .foot .footer-first img {
    padding: 10px 0px 0px 80px;
  }
  footer .foot .footer-second {
    height: 33%;
    width: 33%;
    flex-direction: column;
  }
  footer .foot .footer-third {
    height: 33%;
    width: 33%;
    flex-direction: column;
  }
  footer .foot a {
    text-decoration: none;
    color: white;
  }
}
@media (min-width: 765px) {
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .menu .menu-first,
.menu .menu-first-last {
    width: 100%;
  }
  .menu .menu-second {
    width: 100%;
  }
  .menu .menu-third {
    width: 100%;
  }
  .menu button {
    width: 100%;
  }
  .menu article {
    display: flex;
    align-items: center;
    width: 50%;
  }
  .menu h2 {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-right: auto;
  }
}
@media (min-width: 765px) {
  header {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(244, 242, 242);
    height: 60px;
  }
  header img {
    margin: 0px 0px 5px 20px;
    justify-content: center;
    align-items: center;
  }

  .location {
    background-color: rgb(244, 242, 242);
  }

  .firstpart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .firstpart .explore {
    height: 300px;
    background-color: white;
    width: 50%;
  }
  .firstpart .explore p {
    width: 60%;
  }
  .firstpart .firstpart-in {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
  }
  .firstpart .firstpart-in h2 {
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    padding: 0px;
    height: 30px;
    width: 100%;
    font-size: 20px;
  }

  .button {
    flex-direction: row;
    justify-content: center;
  }
  .button--icon2 {
    width: 10%;
  }
  .button--text {
    width: 75%;
  }

  .restaurant {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .restaurant h2 {
    padding: 32px 0px 20px 0px;
  }
  .restaurant .restau-1 {
    flex-direction: column;
    width: 45%;
    margin-right: 15px;
  }
  .restaurant .restau-1 a {
    margin: 0px;
  }
  .restaurant .restau-2 {
    flex-direction: column;
    width: 45%;
    margin-top: 80px;
  }
  .restaurant .restau-2 a {
    margin: 0px;
  }
  .restaurant .container {
    width: 100%;
    padding: 0px;
    margin: 0px 0px 15px 0px;
  }
}
@media (min-width: 765px) {
  footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: roboto;
    height: 180px;
    color: white;
    background-color: rgb(36, 34, 34);
  }
  footer .foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  footer .foot .footer-first {
    height: 33%;
    width: 33%;
    flex-direction: column;
    justify-content: center;
  }
  footer .foot .footer-first img {
    padding: 10px 0px 0px 80px;
  }
  footer .foot .footer-second {
    height: 33%;
    width: 33%;
    flex-direction: column;
  }
  footer .foot .footer-third {
    height: 33%;
    width: 33%;
    flex-direction: column;
  }
  footer .foot a {
    text-decoration: none;
    color: white;
  }
}
@media (min-width: 765px) {
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .menu .menu-first,
.menu .menu-first-last {
    width: 100%;
  }
  .menu .menu-second {
    width: 100%;
  }
  .menu .menu-third {
    width: 100%;
  }
  .menu button {
    width: 100%;
  }
  .menu article {
    display: flex;
    align-items: center;
    width: 50%;
  }
  .menu h2 {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-right: auto;
  }
}
@media (min-width: 990px) {
  .firstpart {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .firstpart .explore {
    width: 100%;
  }
  .firstpart .firstpart-in {
    width: 100%;
    display: inline;
    margin: 0px;
    padding: 0px;
  }
  .firstpart .firstpart-in h2 {
    width: 100%;
  }
  .firstpart .firstpart-in .row {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .firstpart .firstpart-in .row .button {
    width: 33%;
    margin: 10px;
  }
  .firstpart .firstpart-in .row .button--icon2 {
    width: 10%;
    margin-left: 40px;
  }
  .firstpart .firstpart-in .row .button--text {
    width: 90%;
    margin-right: 15px;
  }
}
@media (min-width: 1185px) {
  .menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 415px;
    padding: 0px;
    margin-left: 10px;
  }
  .menu article {
    width: 30%;
    padding: 0px 25px;
  }
  .menu .menu-first,
.menu .menu-first-last {
    width: 100%;
    padding-right: 25px;
  }
  .menu .menu-first-last1 {
    margin-top: 75px;
  }
  .menu .menu-second {
    width: 100%;
    padding-right: 25px;
  }
  .menu .menu-third {
    width: 100%;
    padding-right: 25px;
  }
}
@keyframes drop {
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
    top: 3.78em;
    transform: rotateX(-360deg);
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 0;
    top: 3.78em;
    transform: rotateX(-360deg);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    top: 6.94em;
  }
}
@keyframes load {
  from {
    opacity: 1;
    z-index: 6;
  }
  to {
    opacity: 0;
    z-index: 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.load {
  opacity: 0;
  z-index: -5;
}

.carte-header {
  z-index: 3;
  height: 300px;
  display: flex;
  align-items: center;
  text-align: center;
}
.carte-header a {
  text-decoration: none;
  color: inherit;
}
.carte-header img {
  margin-top: 10px;
  width: 200px;
  align-items: center;
}
.carte-header i {
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 20px;
  cursor: pointer;
}

.carte {
  background-color: rgb(244, 242, 242);
}
.carte .foodpicture img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: 0;
  position: absolute;
  height: 250px;
  top: 50px;
  width: 100%;
}
.carte .carte-h1 {
  font-family: Shrikhand;
  font-size: 13px;
  border: 1px solid rgb(244, 242, 242);
  background-color: rgb(244, 242, 242);
  padding-bottom: 20px;
  position: absolute;
  width: 100%;
  top: 250px;
  height: 40px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.carte .carte-h1 h2 {
  font-family: shrikhand;
  width: 70%;
  font-size: 27px;
  padding-left: 20px;
  padding-top: 20px;
}
.carte .carte-h1 .heart {
  cursor: pointer;
}
.carte .carte-h1 .heart .fa-heart {
  position: absolute;
  right: 30px;
  top: 25px;
  font-size: 25px;
  height: 25px;
  bottom: 27px;
}
.carte .fa-heart:hover {
  cursor: pointer;
  -webkit-animation: heart-in 0.9s;
          animation: heart-in 0.9s;
  font-weight: 800;
  background: -webkit-gradient(linear, right bottom, right top, from(#FF79DA), to(#9356dc));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes heart-in {
  0% {
    transform: scale(1, 1);
    font-weight: 200;
    -webkit-text-fill-color: black;
  }
  30% {
    transform: scale(1.25, 0.75);
    font-weight: 200;
    -webkit-text-fill-color: black;
  }
  40% {
    transform: scale(0.75, 1.25);
    font-weight: 800;
    -webkit-text-fill-color: transparent;
  }
  50% {
    transform: scale(1.15, 0.85);
    font-weight: 800;
    -webkit-text-fill-color: transparent;
  }
  65% {
    transform: scale(0.95, 1.05);
    font-weight: 800;
    -webkit-text-fill-color: transparent;
  }
  75% {
    transform: scale(1.05, 0.95);
    font-weight: 800;
    -webkit-text-fill-color: transparent;
  }
  100% {
    transform: scale(1, 1);
    font-weight: 800;
    -webkit-text-fill-color: transparent;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-family: roboto;
}
.menu article {
  display: flex;
  flex-direction: column;
}
.menu li {
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  margin: 7px 2px;
  border-radius: 10px;
  border: inherit;
  display: flex;
  flex-direction: column;
  height: 65px;
  background-color: white;
  box-shadow: 2px 1px 8px -3px #000000;
}
.menu li .menu-block {
  display: flex;
  width: 100%;
}
.menu li .menu-text {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 65px;
}
.menu li .menu-price {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  width: 30%;
}
.menu li .icon-slide {
  height: 65px;
  width: 60px;
  background-color: #99E2D0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: -60px;
  transition: margin-right 0.8s ease;
}
.menu li:hover .icon-slide {
  margin-right: 0px;
}
.menu li:hover i.fas.fa-check-circle {
  -webkit-animation: spin 0.6s ease-in-out;
          animation: spin 0.6s ease-in-out;
}
.menu li i {
  justify-content: center;
  margin-top: 20px;
  display: flex;
  font-size: 25px;
  background-color: #99E2D0;
  color: white;
}
.menu .title1,
.menu .title2,
.menu .title3 {
  font-size: 15px;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  width: 30px;
  padding-bottom: 4px;
  padding-top: 40px;
  -webkit-animation: appear 2s;
          animation: appear 2s;
}
.menu .title1:first-child,
.menu .title2:first-child,
.menu .title3:first-child {
  padding-top: 20px;
}
.menu h3 {
  margin: 15px 0px 4px 12px;
  text-align: start;
  font-size: 15px;
  width: 100%;
}
.menu p {
  margin: 0px 0px 0px 12px;
  text-align: start;
  width: 100%;
  font-size: 14px;
  font-weight: 200;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.menu span {
  text-align: end;
  font-weight: 700;
  padding: 30px 20px 0px 0px;
  white-space: nowrap;
}

.command {
  display: flex;
  justify-content: center;
  padding: 20px 0px 50px 0px;
}
.command input {
  padding: 15px;
  width: 200px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 500;
  color: white;
  background: linear-gradient(-10deg, #9356DC 5%, #FF79DA 100%);
  border: inherit;
  margin: 10px;
  cursor: pointer;
  box-shadow: 2px 1px 8px -3px #000000;
}
.command input:hover {
  background: linear-gradient(-10deg, #9356DC 5%, 0, #FF79DA 100%);
}
.command input:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0px 3px 7px 2px rgba(0, 0, 0, 0.2);
}

.menu-first .title1,
.menu-first-last .title1 {
  -webkit-animation: appear 2s;
          animation: appear 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.menu-first > *,
.menu-first-last > * {
  -webkit-animation: appear 2s;
          animation: appear 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.menu-first > *,
.menu-first-last > * {
  -webkit-animation: appear 2s;
          animation: appear 2s;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.menu-first > *,
.menu-first-last > * {
  -webkit-animation: appear 2s;
          animation: appear 2s;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menu-second .title2 {
  -webkit-animation: appear 2s;
          animation: appear 2s;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.menu-second > * {
  -webkit-animation: appear 2s;
          animation: appear 2s;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.menu-second > * {
  -webkit-animation: appear 2s;
          animation: appear 2s;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.menu-second > * {
  -webkit-animation: appear 2s;
          animation: appear 2s;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menu-third .title3 {
  -webkit-animation: appear 2s;
          animation: appear 2s;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.menu-third > * {
  -webkit-animation: appear 2s;
          animation: appear 2s;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.menu-third > * {
  -webkit-animation: appear 2s;
          animation: appear 2s;
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.menu-third > * {
  -webkit-animation: appear 2s;
          animation: appear 2s;
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@media (min-width: 765px) {
  header {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(244, 242, 242);
    height: 60px;
  }
  header img {
    margin: 0px 0px 5px 20px;
    justify-content: center;
    align-items: center;
  }

  .location {
    background-color: rgb(244, 242, 242);
  }

  .firstpart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .firstpart .explore {
    height: 300px;
    background-color: white;
    width: 50%;
  }
  .firstpart .explore p {
    width: 60%;
  }
  .firstpart .firstpart-in {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
  }
  .firstpart .firstpart-in h2 {
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    padding: 0px;
    height: 30px;
    width: 100%;
    font-size: 20px;
  }

  .button {
    flex-direction: row;
    justify-content: center;
  }
  .button--icon2 {
    width: 10%;
  }
  .button--text {
    width: 75%;
  }

  .restaurant {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .restaurant h2 {
    padding: 32px 0px 20px 0px;
  }
  .restaurant .restau-1 {
    flex-direction: column;
    width: 45%;
    margin-right: 15px;
  }
  .restaurant .restau-1 a {
    margin: 0px;
  }
  .restaurant .restau-2 {
    flex-direction: column;
    width: 45%;
    margin-top: 80px;
  }
  .restaurant .restau-2 a {
    margin: 0px;
  }
  .restaurant .container {
    width: 100%;
    padding: 0px;
    margin: 0px 0px 15px 0px;
  }
}
@media (min-width: 765px) {
  footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: roboto;
    height: 180px;
    color: white;
    background-color: rgb(36, 34, 34);
  }
  footer .foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  footer .foot .footer-first {
    height: 33%;
    width: 33%;
    flex-direction: column;
    justify-content: center;
  }
  footer .foot .footer-first img {
    padding: 10px 0px 0px 80px;
  }
  footer .foot .footer-second {
    height: 33%;
    width: 33%;
    flex-direction: column;
  }
  footer .foot .footer-third {
    height: 33%;
    width: 33%;
    flex-direction: column;
  }
  footer .foot a {
    text-decoration: none;
    color: white;
  }
}
@media (min-width: 765px) {
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .menu .menu-first,
.menu .menu-first-last {
    width: 100%;
  }
  .menu .menu-second {
    width: 100%;
  }
  .menu .menu-third {
    width: 100%;
  }
  .menu button {
    width: 100%;
  }
  .menu article {
    display: flex;
    align-items: center;
    width: 50%;
  }
  .menu h2 {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-right: auto;
  }
}
@media (min-width: 765px) {
  header {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(244, 242, 242);
    height: 60px;
  }
  header img {
    margin: 0px 0px 5px 20px;
    justify-content: center;
    align-items: center;
  }

  .location {
    background-color: rgb(244, 242, 242);
  }

  .firstpart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .firstpart .explore {
    height: 300px;
    background-color: white;
    width: 50%;
  }
  .firstpart .explore p {
    width: 60%;
  }
  .firstpart .firstpart-in {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
  }
  .firstpart .firstpart-in h2 {
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    padding: 0px;
    height: 30px;
    width: 100%;
    font-size: 20px;
  }

  .button {
    flex-direction: row;
    justify-content: center;
  }
  .button--icon2 {
    width: 10%;
  }
  .button--text {
    width: 75%;
  }

  .restaurant {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .restaurant h2 {
    padding: 32px 0px 20px 0px;
  }
  .restaurant .restau-1 {
    flex-direction: column;
    width: 45%;
    margin-right: 15px;
  }
  .restaurant .restau-1 a {
    margin: 0px;
  }
  .restaurant .restau-2 {
    flex-direction: column;
    width: 45%;
    margin-top: 80px;
  }
  .restaurant .restau-2 a {
    margin: 0px;
  }
  .restaurant .container {
    width: 100%;
    padding: 0px;
    margin: 0px 0px 15px 0px;
  }
}
@media (min-width: 765px) {
  footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: roboto;
    height: 180px;
    color: white;
    background-color: rgb(36, 34, 34);
  }
  footer .foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  footer .foot .footer-first {
    height: 33%;
    width: 33%;
    flex-direction: column;
    justify-content: center;
  }
  footer .foot .footer-first img {
    padding: 10px 0px 0px 80px;
  }
  footer .foot .footer-second {
    height: 33%;
    width: 33%;
    flex-direction: column;
  }
  footer .foot .footer-third {
    height: 33%;
    width: 33%;
    flex-direction: column;
  }
  footer .foot a {
    text-decoration: none;
    color: white;
  }
}
@media (min-width: 765px) {
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .menu .menu-first,
.menu .menu-first-last {
    width: 100%;
  }
  .menu .menu-second {
    width: 100%;
  }
  .menu .menu-third {
    width: 100%;
  }
  .menu button {
    width: 100%;
  }
  .menu article {
    display: flex;
    align-items: center;
    width: 50%;
  }
  .menu h2 {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-right: auto;
  }
}
@media (min-width: 990px) {
  .firstpart {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .firstpart .explore {
    width: 100%;
  }
  .firstpart .firstpart-in {
    width: 100%;
    display: inline;
    margin: 0px;
    padding: 0px;
  }
  .firstpart .firstpart-in h2 {
    width: 100%;
  }
  .firstpart .firstpart-in .row {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .firstpart .firstpart-in .row .button {
    width: 33%;
    margin: 10px;
  }
  .firstpart .firstpart-in .row .button--icon2 {
    width: 10%;
    margin-left: 40px;
  }
  .firstpart .firstpart-in .row .button--text {
    width: 90%;
    margin-right: 15px;
  }
}
@media (min-width: 1185px) {
  .menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 415px;
    padding: 0px;
    margin-left: 10px;
  }
  .menu article {
    width: 30%;
    padding: 0px 25px;
  }
  .menu .menu-first,
.menu .menu-first-last {
    width: 100%;
    padding-right: 25px;
  }
  .menu .menu-first-last1 {
    margin-top: 75px;
  }
  .menu .menu-second {
    width: 100%;
    padding-right: 25px;
  }
  .menu .menu-third {
    width: 100%;
    padding-right: 25px;
  }
}/*# sourceMappingURL=style.css.map */